---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Main from "../../components/Main.astro";
import H1 from "../../components/H1.astro";
import CategoryList from "../../components/CategoryList.astro";
import Pagination from "../../components/Pagination.astro";
import PostList from "../../components/PostList.astro";

const page = Number(Astro.url.searchParams.get("page")) || 1;
const category = Astro.params.slug ?? "";

const postPerPage = 2;
const start = postPerPage * (page - 1);
const end = start + postPerPage;

const postsByCategory = (await getCollection("posts")).filter((post) =>
  post.data.categories.includes(category),
);

const posts = postsByCategory.slice(start, end);

if (!posts.length) {
  return Astro.redirect("/404");
}
---

<Layout
  title="Blog - Rhythm Nation"
  description="Read and learn from Music Producers and Enthusiasts"
>
  <Main>
    <a href="/blog" class="text-zinc-500 text-2xl mb-16 underline block"
      >Back to all blogs</a
    >
    <H1 text="Rhythm Nation Blog" />
    <p class="text-zinc-900 text-2xl mb-24 max-sm:mb-14">
      Join the Community and learn from Music Producers and Enthusiasts
    </p>
    <CategoryList categories={[category]} title="Tags" />
    <div class="mb-12">
      <Pagination
        page={page}
        numberOfPosts={postsByCategory.length}
        postPerPage={postPerPage}
      />
    </div>
    <PostList posts={posts} />
    <div class="mb-12">
      <Pagination
        page={page}
        numberOfPosts={postsByCategory.length}
        postPerPage={postPerPage}
      />
    </div>
  </Main>
</Layout>
